In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

data = pd.read_csv("results.csv",)

In [7]:
pivot_ami = data.pivot_table(
    index=["Dataset", "n", "D", "C"], columns="Algorithm", values="AMI"
)
pivot_ari = data.pivot_table(
    index=["Dataset", "n", "D", "C"], columns="Algorithm", values="ARI"
)
pivot_time = data.pivot_table(
    index=["Dataset", "n", "D", "C"], columns="Algorithm", values="Time"
)
pivot_all = data.pivot_table(
    index=["Dataset", "n", "D", "C"], columns="Algorithm", values=["Time", "ARI", "AMI"]
)
pivot_ami = pivot_ami.round(4)
pivot_ari = pivot_ari.round(4)
pivot_all = pivot_all.round(4)
pivot_time = pivot_time.round(4)

In [8]:
# Function to highlight the max and second-highest values
def highlight_max(s):
    is_max = s == s.max()
    is_second_max = s == s.nlargest(2).iloc[-1]
    # return [
    #     "background-color: green" if v else "background-color: orange"
    #     for v, is_second_max in zip(is_max , is_second_max, s)
    # ]
    return [
        "background-color: green" if ismx else ("background-color: orange" if issmx else "background-color: white")
        for issmx, ismx, v in zip(is_max, is_second_max, s)
    ]
def highlight_min(s):
    is_max = s == s.min()
    is_second_max = s == s.nsmallest(2).iloc[-1]
    # return [
    #     "background-color: green" if v else "background-color: orange"
    #     for v, is_second_max in zip(is_max , is_second_max, s)
    # ]
    return [
        "background-color: orange"
        if ismx
        else ("background-color: green" if issmx else "background-color: white")
        for issmx, ismx, v in zip(is_max, is_second_max, s)
    ]


# Apply highlighting and display the styled table
styled_ami = pivot_ami.style.apply(highlight_max, axis=1).set_table_styles(
    # [{"selector": "th", "props": [("background-color", "white")]}]  # Header styling
    [{"selector": "th", "props": []}]  # Header styling
)

styled_ari = pivot_ari.style.apply(highlight_max, axis=1).set_table_styles(
    [{"selector": "th", "props": []}]  # Header styling
    # [{"selector": "th", "props": [("background-color", "white")]}]  # Header styling
)

styled_time = pivot_time.style.apply(highlight_min, axis=1).set_table_styles(
    # [{"selector": "th", "props": [("background-color", "white")]}]  # Header styling
    [{"selector": "th", "props": []}]  # Header styling
)

In [9]:
# Display the dataframe with Pandas
print("Adjusted Mutual Information (AMI) Results:")
display(styled_ami)

print("\nAdjusted Rand Index (ARI) Results:")
display(styled_ari)

print("\n Time (s) Results:")
display(styled_time)

# print('\n all')
# display(pivot_all)

Adjusted Mutual Information (AMI) Results:

Adjusted Rand Index (ARI) Results:

 Time (s) Results: